.main {
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  background: var(--background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--card-border);
}
.connected {
  color: var(--success);
}

.disconnected {
  color: var(--warning);
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--card-border);
}

.status {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 1.5rem;
  grid-template-rows: auto auto;
  height: 98vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card {
  background: var(--card);
  border: 1px solid var(--card-border);
  border-radius: 12px;
  padding: 0.5rem;
  gap: 1.5rem;
  max-height: 90vh;
  overflow-y: auto;
}

.streamCard {
  background: var(--card);
  border: 1px solid var(--card-border);
  border-radius: 12px;
  padding: 0.5rem;
  grid-row: span 2;
  height: fit-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 93vh;
  max-height: 100vh;
  overflow-y: auto;
}

.settingsCard {
  grid-column: span 2;
}

.menuButton {
  padding : 8px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  width: 8em;
}

.menuButton:hover {
  background: var(--primary-hover);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 1rem;
}

.block h2 {
  font-weight: 700;
  font-size: 1.3rem;
  align-self: center;
}

.select {
  padding: 10px;
  border: 2px solid var(--card-border);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--card-border);
  cursor:pointer;
}

.option {
  padding: 8px;
  color: white;
  background-color: var(--card-border);
} 

.slider {
  width: 100%;
  margin-left: 0;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 15px;
  border-radius: 8px;
  appearance: none;
  background: var(--primary);
  height: 6px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-right: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.switchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0;
}

.selectionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0;
}

.input{
  background-color: var(--card-border);
  border-radius: 8px;
  padding-left: 0.25rem;
  padding-bottom: 0.05rem;
  padding-top: 0.05rem;
  cursor: pointer;
}

.daysContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dayCheckbox input{
  cursor: pointer;
} 

.infoBox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.infoBox p {
  white-space: nowrap;
  font-size: 0.99rem;
}

.switchBox input{
  padding: 0.15rem;
}

.saveButton {
  padding: 12px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.saveButton:hover {
  background: var(--primary-hover);
}

.streamButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 10px;
  padding-inline: 30%;
}

.streamOverlay {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.streamButtons h1 {
  align-self: center;
  justify-self: center;
}